---
import Link from "@/icons/Link.astro";
import Badge from "@/components/Badge.astro";

interface Props {
    id: string,
    title: string,
    description: string,
    url: string
    badges: Badge[]
}

interface Badge {
    name: string,
    icon: (_props: Record<string, any>) => any,
    class: string 
}

const { id, title, description, url, badges } = Astro.props;
---

<li class="max-w-72 rounded-lg shadow bg-gray-950 group">
    <div class="w-full overflow-hidden rounded-t-lg">
        <img class="rounded-t-lg object-cover w-full h-48 group-hover:scale-105 transition" src={id + ".webp"} alt={"Imagen de" + title} />
    </div>
    <div class="p-5">
        <div class="py-2 flex items-center gap-2">
            {
                (badges as Badge[]).map(badge => (
                    <Badge badgeClass={badge.class}>
                        <badge.icon /> {badge.name}
                    </Badge>
                ))
            }
        </div>
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-white">{title}</h3>
        <p class="mb-3 font-normal text-gray-400">{description}</p>
        <a href={url || ""} aria-label={"Ver proyecto de " + title} class="inline-flex gap-1 items-center px-3 py-2 text-sm font-medium text-center border border-white rounded-lg focus:ring-4 focus:outline-none text-white hover:text-gray-900 hover:bg-white transition">
            <Link />
            Preview
        </a>
    </div>
</li>